<% provide(:title, "Lines") %>
<h1>Lines</h1>

<table class="table">
  <thead>
    <tr>
      <th>Seats total</th>
      <th>Departure city</th>
      <th>Departure time</th>
      <th>Arrival city</th>
      <th>Arrival time</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @lines.each do |line| %>
      <tr>
        <td><%= line.seats_total %></td>
        <td><%= line.departure_city %></td>
        <td><%= line.departure_time %></td>
        <td><%= line.arrival_city %></td>
        <td><%= line.arrival_time %></td>
        <td><%= link_to 'Show', line if current_user != nil %></td>
        <td><%= link_to 'Edit', edit_line_path(line) if current_user != nil &&
                       current_user.admin &&
                        (line.seats_total - tickets_available(line)) == 0%></td>
        <td><%= link_to 'Destroy', line, method: :delete,
                  data: { confirm: 'Are you sure?' } if current_user != nil &&
                      current_user.admin &&
                       (line.seats_total - tickets_available(line)) == 0%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
