<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @ticket.line_id %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @ticket.seat %>
</p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Bought:</strong>
  <%= @ticket.bought %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
